body{
  background-color: green ;
  color: #000305;
  font-size: 87.5%;
  font-family:Arial,'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}
 a{
   text-decoration: none;
 }
img{
  max-width: 100%;

}

#wrapper{
  max-width: 940px;
  margin: 0 auto;
}
  a:link,a:visited{
    color: #5bec1b;
  }
   a:hover,a:active{
     background-color:  #d7bde2 ;
     color: #FFF;
   }

     .body{
       margin: 0 auto;
       width: 0 auto;
       clear: both;
     }


  .mainheader img{
    width: 30%;
    height: auto;
    margin: 2% 0;

  }

  .mainheader nav{
    background-color: #5bec1b;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

  }

  .mainheader nav ul li {
   list-style: none;
   margin: 0 auto;
  }

  .mainheader nav ul li{
    float: left;
    display: inline;
  }

  .mainheader nav a:link, .mainheader nav a:visited{
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
  }

  .mainheader nav a:hover, .mainheader nav a:active,
  .mainheader nav .active a:link, .mainheader nav .active a:visited{
    background-color:  #d7bde2 ;
    text-shadow: none;
  }

  .mainheader nav ul li a {
    border-radius: 4px;
    margin-border-radius: 4px;
    max-width: 4px;

  }
  .mainContent{
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;


  }
  .content{
    width: 70%;
    float: left;

  }

  .topcontent{
    background-color:  #abebc6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 7px;

  }



  .bottomcontent{
    background-color: #abebc6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 7px;

  }

   .top-sidebar{
     width: 21%;
     float: left;
     background-color: #abebc6;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     margin-top: 7px;
     margin-left: 3%;
     margin-bottom: 0%;
     padding: 2% 3%;
   }

    .post-info{
      font-style: italic;
      color: #999;
      font-size: 90%;
    }
   .middle-sidebar{
     width: 21%;
     float: left;
     background-color: #abebc6;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     margin-top: 8PX;
     margin-left: 3%;
     margin-bottom: 0%;
     padding: 2% 3%;
   }

   .bottom-sidebar{
     width: 21%;
     float: left;
     background-color: #abebc6;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     margin-left: 3%;
     margin-top: 8PX;
     margin-bottom: 0%;
     padding: 2% 3%;
   }

  .mainfooter{
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     margin-top: 8px;
    background-color:  #5bec1b ;
    margin-bottom: 0%;

  }


  .social-icon{
    max-width: 30px;
    height:50px;
    padding: 0 0 10px;
    text-shadow: none;
  }
  .mainfooter p{
    width: 92%;
    margin: 10px auto;
    color: #FFF;

  }
